.box {
    margin: auto;
    width: 80%;
}

.collapse {
    height: 50px;
    background-color: #FF6060;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px;
}

.content {
    width: calc(100% - 200px);
}

@media screen and (max-width: 800px) {
    .banner_container {
        height: 100%;
    }
    .banner_about {
        height: 220px;
    }
    
    .box {
        margin-top: 20px;
    }
    .collapse {
        max-height: 30px;
        border-radius: 5px;
        font-size: 13px;
        padding: 0;
        margin: 0;
    }
    .content {
        min-width: calc(100% - 20px);
        border-radius: 5px;
        font-size: 12px;
    }
    .icon {
        font-size: 13px;
    }
}