.banner_container {
position: relative;
display: flex;
justify-content: center;
align-items: center;
background: #F7F7F7;
border-radius: 25px;
margin-bottom: 43px;
max-height: 220px;
overflow: hidden;
}

.banner_text {
position: absolute;
color: white;
font-size: 48px;
font-weight: 500;
z-index: 2;
}

.banner_img {
width: 100%;
z-index: 1;
background: #000000;
filter: brightness(75%);
border-radius: 25px;
}

@media screen and (min-width: 801px) and (max-width: 1100px) {
    .banner_text {
        font-size: 36px;
    }
}

@media screen and (max-width: 800px) {
    .banner_container {
        height: 110px;
        margin-bottom: 20px;
        border-radius: 10px;
    }
    .banner_text {
        font-size: 24px;
        width: 70%;
        left: 10px;
        padding-right: 40px;
    }
    .banner_img {
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
    }
}