.card {
    height: 340px;
    width: 340px;
    position: relative;
}

.rent_card{
    height: 340px;
    width: 340px;
    margin: 50px 50px;
    border-radius: 10px;
}

.card_title {
    position: absolute;
    bottom: calc(0% + 20px);
    left: 20px;
    color: white;
    z-index: 1;
}

.card_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.01);
    transition: 0.1s;
}

.card:hover::after {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}

.card::after {
    position: absolute;
    content:"";
    height:100%;
    width:100%;
    top:0;
    left:0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
}

@media screen and (max-width: 800px) {
    .rent_card {
        margin: 30px;
    }
}

@media screen and (min-width: 375px) and (max-width: 799px) {
    .rent_card {
        margin: 10px;
    }
}
