.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

@keyframes openslide {
 from {
    opacity:0;
 }
 to {
    opacity: 1;
 }
}



.content {
    animation-name: openslide;
    animation-duration: 0.5s;
    background-color: #F6F6F6;
    border-radius: 10px;
    z-index: -1;
    margin-top: -10px;
    padding: 20px;
    color: #FF6060;
    font-size: 24px;
}

.toggle {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    text-align: left;
    font-size: 24px;
    color: white;
}

.icon.up {
    transform: rotate(180deg);
    transition: 0.3s;
}

.icon{
    transform: rotate(0);
    transition: 0.3s;
    margin-right: 10px;
    font-size: 30px;
}