.err_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin-top: -100px;
}

.err_title {
    color: #FF6060;
    font-weight: 700;
    font-size: 288px;
    font-style: normal;
    text-align: center;
}

.err_oups {
    color: #FF6060;
    font-size: 36px;
    text-align: center;
    margin-bottom: 100px;
}

.err_link { 
    color: #FF6060;
    font-size: 18px;
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
    .err_container {
        margin: 0;
    }
    .err_title {
        font-size: 100px;
        margin: 50px 50px 0 50px;
    }
    .err_oups {
        font-size: 18px;
        margin: 0 50px 100px 50px;
    }
    .err_link {
        font-size: 14px;
    }
}