.section_box {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    grid-template-columns: 2fr 1fr;
    row-gap: 10px;
}

.section_title_info {
    display: flex;
    flex-direction: column;
    color: #FF6060;
    justify-self: start;
    justify-content: center;
}

.rent_title {
    font-size: 36px;
}

.rent_loc {
    font-size: 18px;
}

.section_host_info {
    display: flex;
    flex-direction: column;
    justify-self: end;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.star {
    width: 100%;
    justify-content: space-between;
}

.text_host {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.name_host {
    color: #FF6060;
    font-size: 18px;
    text-align: right;
    word-wrap: normal;
    width: 90px;
    padding-right: 10px;
}

.img_host {
    border-radius: 50%;
    width: 65px;
    height: 65px;
}

.section_collapse {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 75px;
    align-items: flex-start;
    min-height: 350px;
    grid-row-start: 2;
    grid-column: 1 / span 2;
}

.collapse {
    width: 100%;
    height: 50px;
    background-color: #FF6060;
    border-radius: 10px;
    padding: 20px;
}

.content {
    width: 100%;
}

.listItem {
    list-style: none;
}

@media screen and (max-width: 800px) {
    .section_box {
        grid-template-columns: 1fr;
        grid-template-rows: auto 60px 0.5fr;
    }
    .section_title_info {
        grid-row-start: 1;
        justify-content: space-evenly;
    }
    .rent_title {
        font-size: 18px;
        margin-top: 5px;
    }
    .rent_loc {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .section_host_info {
        width: 100%;
        grid-row-start: 2;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .name_host {
        font-size: 12px;
    }
    .img_host {
        width: 32px;
        height: 32px;
    }
    .star {
        width: 50%;
    }
    .section_collapse {
        grid-row-start: 3;
        display: block;
    }
    .collapse {
        max-height: 30px;
        border-radius: 5px;
        font-size: 13px;
        padding: 0 10px;
        margin: 0;
    }
    .content {
        min-width: calc(100% - 30px);
        border-radius: 5px;
        font-size: 12px;
    }
    .icon {
        font-size: 13px;
    }
}