.rent_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #F6F6F6;
    border-radius: 25px;
    margin-top: 10px;
}

@media screen and (max-width: 800px) {
    .rent_content {
        background-color: transparent;
        margin-bottom: 50px;
    }
    .banner_container_list {
        height: 111px;
    }
}