.carousel {
    height: 450px;
    overflow: hidden;
    position: relative;
    border-radius: 25px;
}

.carousel_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel_btn {
position: absolute;
z-index: 5;
height: 60px;
width: 60px;
color: white;
font-size: 96px;
top: calc(50% - 70px);
}

.carousel_bullet_point {
    position: absolute;
    text-align: center;
    font-size: 20px;
    color: white;
    width: 50px;
    height: 50px;
    top: 90%;
    left: calc(50% - 25px);
    text-shadow: 1px 2px 2px black;
}

.carousel_btn.left{
    left: 20px;
}
.carousel_btn.right{
    right: 30px;
}

@media screen and (max-width: 800px) {
    .carousel {
        width: 100%;
        height: 255px;
        border-radius: 10px;
    }
    .carousel_btn {
        font-size: 30px;
        top: calc(50% - 30px);
        width: 30px;
        height: 30px;
    }
    .carousel_btn.right{
        right: 20px;
    }
    .carousel_bullet_point {
        display: none;
    }
}