.tag {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.tag_text {
    background-color: #FF6060;
    height: 25px;
    padding: 0 10px;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .tag {
        margin: 0;
    }
    .tag_text {
        width: 85px;
        height: 18px;
        border-radius: 5px;
        padding: 0;
        font-size: 10px;
    }
}