.footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    
}
.logo_footer, .copyright_footer{
    width: fit-content;
    margin: 15px;
}

@media screen and (max-width: 800px) {
    .footer {
        padding: 80px;
    }
}